<div>
    <p>Listado de productos:</p>
    {{#each products}}
        <div class="cardProduct">
            <p>Nombre del producto: {{this.title}}</p> 
            <p>Descripción: {{this.description}}</p> 
            <p>Precio: ${{this.price}}</p>
        </div>
        
    {{/each}}
</div>